body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("https://i.pinimg.com/originals/c3/1d/19/c31d197081f09ea2634143a50a121a84.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}
form {
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    width: 400px;
    background-image: url("https://i.pinimg.com/originals/c3/1d/19/c31d197081f09ea2634143a50a121a84.gif");
    color: #f4f4f4;
    margin: 0 auto;
    position: relative;
    top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255, 255, 255, 0) 
      }

input {
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #abb1b6;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

button:hover {
    background-color: #77f4ff;
}

@media (max-width: 420px) {
    body {
        height: auto; 
    }
    
    form {
        width: 90%; 
        padding: 20px; 
        top: 50px; 
    }

    input {
        padding: 8px; 
    }

    button {
        padding: 8px 16px; 
    }
}